@import 'tailwindcss';

@layer base {
  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif;
  }
}

@layer utilities {
  .font-mono {
    font-family: var(--font-share-tech-mono), monospace;
  }

  .font-orbitron {
    font-family: var(--font-orbitron), monospace;
  }
}
